$custom-blue: #355c9e;
$custom-white: #ffffff;
$custom-black: #3d3d3d;
$dark-blue: #07115c;
$light-gray: #bebebe;

$max-width: 1440px;
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1280px;

$play-fare: 'Playfair Display';
$surfer: 'Surfer Bay';
$montserrat: 'Montserrat';
